mixin double-arrows(data)
    +b.double-arrows
        +e('a').link(class='animated fadeInDownBig infinite slow' href= doubleArrows.href)
            +e('img').img(src= doubleArrows.src alt= doubleArrows.alt)
